[Unit]
Description=Pi Audio Sync Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=vo603-rpi-1
Group=vo603-rpi-1
WorkingDirectory=/opt/pi-audio-sync
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/python3 -m src.main
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target 